body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .accent-logo {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* footer */
.page-footer {
  background-color: #2e2f42;
}
.footer-logo .accent-logo {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/*section order-service */

.order-service {
  background-color: #2e2f42;
}

.title-capital {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  background-color: #2e2f42;
}
.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/*section our team */
.our-team {
  background-color: #f4f4fd;
}
.our-team-title,
.portfolio-title {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list-item {
  background-color: #fff;
}

.team-names,
.profession-text {
  text-align: center;
}

.team-names,
.portfolio-list-item-title,
.features-titles {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
}
/* {
  text-align: center;
} */

.profession-text,
.portfolio-text,
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}

/* section portfolio */
